body{
    margin:auto;
}
    #navbar{
    height:80px;
    width:auto;
    border:solid black 1px;
    background-color: rgb(255, 255, 255);
    
    dipslay:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a{
    margin:50px;
    font-style: normal;
    font-size: 20px;
    paddin-bottom:15px;
    position: relative;
    left:20px;
    
}
img src{
    margin-top: 10px;
}
#star{
    height:100px;
    width:auto;
    border:solid black 1px;
    background-color: rgb(12, 55, 12);
    margin:auto;
    color:white;
}
#refresh{
    position: relative;
    top:40px;
}
.inner{
    height:auto;
    width:300px;
    border-radius: 10px;
    border:solid white 1px;

    position: relative;
    left:600px;
    top:35px;
    color:white;
    font-size: 12px;
    
    
}
#me{
    height:200px;
    width:1100px;
    border:solid black 1px;
    background-color: rgb(18, 92, 18);
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 100px;
}
#image{
    position: relative;
    top:20px;
    left:40px;

}
#man{
    position: relative;
    top:20px;
    left:100px;
}
#me{
    height:230px;
    width:1000px;
    position: relative;
    left:70px;
    border-radius: 10px;
}
#cup{
    height:200px;
    width:80px;
    position: relative;
    top:50px;
    left:2px;
}


    
    

ul{
    margin-left:80px;
    list-style-type:none;
}
li{
    margin:20px;
    color:white;
}
#now{
    position:relative;
    bottom:200px;
    
    color:black;
    font-weight: 200;
}
#bucks{
    position:relative;
    bottom:200px;
    color:black;
    font-weight:600;
    font-size: 25px;
    
}
#indulge{
    position:relative;
    bottom:200px;
    color:black;
    font-weight: 100;
}
#start{
    position:relative;
    bottom:180px;
    color:black;
}
#rs{
    position:relative;
    bottom:190px;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder ;

}



.box{
    height:30px;
    width:120px;
    border solid black 1px;
    border-radius: 20px;
    background-color:rgb(29, 102, 29);
    color:white;
    padding-left:60px;
    padding-top: 15px;
    position:relative;
    left:800px;
    bottom:260px;
    font-size: 14px;
    font-weight: 200;
}

    
    
   

#hand{
color:rgb(19, 46, 19);
padding-left: 100px;
padding-top:30px;
font-size: 30px;
font-weight: bold;
position:absolute;
}
   
#last{

    height:100px;
    width:1200px;
    display:flex;
    flex-direction: row;
    margin-left:60px;
    
    padding-top:120px;
    position: absolute;
}
.box1{
    height:130px;
    width:130px;
    border:solid white;
    border-radius: 65px;
    
    background-image:url(Bestseller.webp);
    background-size: cover;
    margin-left: 40px;
}
#best{
    position: absolute;
    
    top:220px;
    left:20px;
    


}
.box2{
    height:130px;
    width:130px;
    border:solid white;
    border-radius: 65px;

    background-image:url(Drinks.webp);
    background-size: cover;
    margin-left:50px;
    
}
#drinks{
    position:absolute;
    left:215px;
    top:220px;
    font-weight: 300;
}
.box3{
    height:130px;
    width:130px;
    border:solid white;
    border-radius:65px;
    
    
    background-image:url(Food.webp) ;
    background-size: cover;
    margin-left:50px;
    
}
#food{
    position:absolute;
    top:220px;
    left:400px;
    font-weight: 300;
}
.box4{
    height:130px;
    width:130px;
    border:solid white;
    border-radius: 65px;
    background-image: url(Merchandise.webp);
    background-size: cover;
    margin-left: 50px;
}
#merchant{
    position:absolute;
    top:220px;
    left:550px;
    font-weight: 300;
}
.box5{
    height:130px;
    width:130px;
    border:solid white;
    border-radius: 65px;
    background-image: url(CoffeeAtHome.webp);
    background-size: cover;
    margin-left: 50px;
}
#coffee1{
    position:absolute;
    top:220px;
    left:740px;
    font-weight: 300;
}

.box6{
    height:130px;
    width:130px;
    border:solid white;
    border-radius: 65px;
    background-image: url(ReadyToEat.webp);
    background-size: cover;
    margin-left: 50px;
}
#ready{
    position:absolute;
    top:220px;
left:925px;
    font-weight: 300;
}
#next{
    height:350px;
    width:1400px;
    
    background-color: rgb(231, 229, 229);
    margin:400px;
    position:relative;
    right:500px;
}
#barista{
    color:rgb(11, 49, 11);
    position:absolute;
    font-weight: bolder;
    top:1px;
    left:100px;
    font-size: 160%;
}
#view{
    color:rgb(7, 112, 7);
    position: absolute;
    left:1050px;
    top:2px;
    font-size: 17px;
}
#leaf{
    position:absolute;
    left:1230px;
    height:100px;
}
#border1{
    height:170px;
    width:350px;
    border-radius: 12px;
    background-color:white;
    position:absolute;
    top:130px;
    left:140px;
    
}
#veg1{
    position:absolute;
    bottom:111px;
    right:200px;
}
#milkshake1{
    position:absolute;
    bottom:90px;
    right:140px;
    font-family: SoDoSans_Semibold,Helvetica,sans-serif!important;
    font-size:14px;;
    font-weight: bolder;
}
#rupee1{
    position:absolute;
    height:12px;
    width:12px;
    right:300px;
}
#no1{
    position:absolute;
    right:250px;
    bottom:20px;
}

#inside1{
    height:80px;
    width:80px;
    border-radius: 8px;
    position:absolute;
    top:20px;
    left:20px;
    background-image: url(placeholder.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
#inside4{
    height:35px;
    width:110px;
    border-radius: 15px;
    position:absolute;
    top:120px;
    left:220px;
    background-color:rgb(11, 101, 11);
}
#add1{
    color:#fff;
    position:absolute;
    top:10px;
    right:20px;
    display:flex;
    display:inline;
    text-align: center;
}
    
    
    
#border2{
    height:170px;
    width:350px;
    border-radius: 12px;
    background-color:white;
    position:relative;
    top:130px;
    left:550px;
}
#veg2{
    position:absolute;
    bottom:111px;
    right:200px;
}
#milkshake2{
    position:absolute;
    bottom:60px;
    right:150px;
    font-family: SoDoSans_Semibold,Helvetica,sans-serif!important;
    font-size:14px;;
    font-weight: bolder;
    display:flex;
    display:inline;
}
#rupee2{
    position:absolute;
    height:12px;
    width:12px;
    right:300px;
}
#no2{
    position:absolute;
    right:250px;
    bottom:20px;
}

#inside2{
    height:80px;
    width:80px;
    border-radius: 8px;
    background-image: url(glass.webp);
    background-size: cover;
    position:absolute;
    top:20px;
    left:20px;
}
#inside5{
    height:35px;
    width:110px;
    border-radius: 15px;
    position:absolute;
    top:120px;
    left:220px;
    background-color:rgb(11, 101, 11);
}
#add2{
    color:#fff;
    position:absolute;
    top:10px;
    right:20px;
    display:flex;
    display:inline;
    text-align: center;
    
}

#border3{
    height:170px;
    width:350px;
    border-radius: 12px;
    background-color:white;
    position:absolute;
    top:130px;
    
    left:950px;
    
}
#veg3{
    position:absolute;
    bottom:111px;
    right:200px;
}
#milkshake3{
    position:absolute;
    bottom:70px;
    right:150px;
    font-family: SoDoSans_Semibold,Helvetica,sans-serif!important;
    font-size:14px;;
    font-weight: bolder;
    display:flex;
    display:inline;
}
#rupee3{
    position:absolute;
    height:12px;
    width:12px;
    right:300px;
}
#no3{
    position:absolute;
    right:250px;
    bottom:20px;
}
#inside3{
    height:80px;
    width:80px;
    border-radius: 8px;
    background-image: url(milk.webp);
    background-size: cover;
    position:absolute;
    top:20px;
    left:20px;
}
#inside6{
    height:35px;
    width:110px;
    border-radius: 15px;
    position:absolute;
    top:120px;
    left:220px;
    background-color:rgb(11, 101, 11);
    display:flex;
    display: inline-block;
    text-align: center;
}
#add3{
    color:#fff;
    position:absolute;
    top:10px;
    right:20px;
    display:flex;
    display:inline;
    text-align:center;
    touch-action: manipulation;
    transition: background-color .167s cubic-bezier(.4,0,.2,1) 0s,box-shadow .167s cubic-bezier(.4,0,.2,1) 0s,color .167s cubic-bezier(.4,0,.2,1) 0s;
   
}
#next2{
    height:600px;
    width:1300px;
    position:relative;
    bottom:330px;

    
    background-color: rgb(237, 231, 231);
}
#learn{
    position:absolute;
    top:40px;
    left:80px;
    color:rgb(12, 60, 12);
    font-size:larger;
    font-weight: 900;
    
    font-family:SoDoSans_Bold,Helvetica,sans-serif!important;
}
#more{
    position:absolute;
    left:1050px;
    color:rgb(13, 101, 13);
    top:50px;
    font-weight: 800;
}

#discover{
    height:450px;


    width:1070px;
    position:absolute;
    left:100px;
    top:110px;
    background-color:white ;
    background-image:url(art.png.jpg);
    background-size:cover;
}
#final1{
    height:800px;
    Width:1250px;
    position:relative;
    bottom:280px;
    background-color: rgb(10, 39, 10);
}
#fimage{
    position:absolute;
    top:130px;
    left:60px;
}
#about{
    color:white;
    position:absolute;
    top:125px;
    left:250px;
    font-weight: 1000;
    font-size: larger;
}
#heritage{
    color:white;
    position:absolute;
    top:180px;
    left:250px;
}
#coffee2{
    color:white;
    position:absolute;
    top:250px;
    left:250px;
}
#company{
    color:white;
    position:absolute;
    top:315px;
    left:250px;
}  
#response{
    color:white;
    position:absolute;
    top:125px;
    left:435PX;
    font-weight: 1000;
    font-size: larger;
}
#diverse{
    color:white;
    position:absolute;
    top:180px;
    left:435PX;
}
#community{
    color:white;
    position:absolute;
    top:250px;
    left:435PX;
}
#ethical{
    color:white;
    position:absolute;
    top:320px;
    left:435PX;
}
#environment{
    color:white;
    position:absolute;
    top:370px;
    left:435PX;
}
#steward1{
    color:white;
    position:absolute;
    top:390px;
    left:435PX;
}
#steward2{
    color:white;
    position:absolute;
    top:450px;
    left:435px;
}
#quick{
    color:white;
    position:absolute;
    top:110px;
    left:600px;
    font-weight: 1000;
    font-size: larger;
}
P{
    position:relative;
    left:600PX;
    top:140px;
    margin:20px;
    color:white;
}
#social{
    color:white;
    position:absolute;
    top:127px;
    left:820px;
    font-weight: 1000;
    font-size: larger;
}
#insta{
    position:absolute;
    left:820px;
    top:160px;
}
  #fb{
        position:absolute;
   left:865px;
    top:160px;
}
#twitter{
    position:absolute;
    left:920px;
    top:160px;
}

#appleimg{
    position:absolute;
    left:1000px;
    top:130px;


}
/*#appleimg{
    position:absolute;
}*/
#playstore{
    position:absolute;
    left:1000px;
    bottom:520px;
}
hr{
    position:relative;
    top:170px;
    width:1050px;
}
    
#web{
    position:absolute;
    top:700px;
    color:white;
    left:95px;
}
#state{
    position:absolute;
    top:700px;
    color:white;
    left:250px;
}
#terms{
    position:absolute;
    top:700px;
    color:white;
    left:420px;
}
#contact{
    position:absolute;
    top:700px;
    color:white;
    left:580px;
}
#reserve{
    position:absolute;
    top:700px;
    color:white;
    left:900px;
    font-size:small;
}
#copy{
    position:absolute;
    top:700px;
    color:white;
    left:870px;
    font-size:small;
    height:20px;
    width:20px;
    color:white;
}

    
    
    









        








    
    

